.cardProd {
    margin: 0.5rem; /* Espacio entre las tarjetas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 350px; /* Ajusta la altura total */
}

.cardProd:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
}

.card-img-topProd {
    width: 100%;
    height: 250px; /* Reduce la altura de la imagen */
    object-fit: contain;
    border-bottom: 1px solid #e0e0e0;
}

.card-bodyProd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.card-titleProd {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.card-titleProd:hover {
    color: #0073e6;
}

.text-infoProd {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #00a650;
    font-weight: bold;
}

.stock-labelProd {
    font-size: 0.9rem;
    color: #e74c3c;
    font-weight: bold;
}

.cardLista {
    flex-wrap: wrap;
    padding: 0%;
    justify-content: space-between;
}



@media (min-width: 1200px) {
    .col-md-3 {
        flex: 0 0 20%; /* Ajuste para mostrar 5 columnas en pantallas grandes */
        max-width: 20%;
        padding: 0;
    }

    .col-md-3 a{
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 24%; /* Ajuste para mostrar 4 columnas en pantallas medianas */
        max-width: 24%;
        padding: 0;
        margin: 0;
    }

    .col-md-3 a{
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .col-md-3 {
        flex: 0 0 50%; /* Ajuste para mostrar 2 columnas en pantallas pequeñas */
        max-width: 50%;
        padding: 0;
        margin: 0;
    }

    .col-md-3 a{
        margin: 0;
        padding: 0;
    }

    .cardProd {
        height: 300px;
        
    }

    .card-img-topProd {
        height: 150px;
    }
}
