.cardProd {
    
    max-width: 16rem; /* Disminuir el ancho de la tarjeta */
    max-height: 20rem; /* Reducir la altura de la tarjeta */
    margin: 0.5rem; /* Margen entre las tarjetas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e0e0e0; /* Borde de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar cualquier contenido que sobrepase los límites */
    text-align: center; /* Alineación centrada de texto */
    background-color: #fff; /* Fondo blanco para la tarjeta */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out; /* Transición suave para el hover */
}

.cardProd:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
    cursor: pointer; /* Cambiar el cursor a mano */
}

.card-img-topProd {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    height: 50%; /* Establece la altura de la imagen al 50% de la tarjeta */
    object-fit: contain; /* Ajusta la imagen para que quepa completamente sin cortar, manteniendo la proporción */
    border-bottom: 1px solid #e0e0e0; /* Borde inferior de la imagen */
}

.card-bodyProd {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem; /* Espaciado interno de la tarjeta */
    height: 50%; /* Altura del cuerpo de la tarjeta (50% restante) */
}

.card-titleProd {
    font-size: 1rem; /* Reducir el tamaño del título */
    margin-bottom: 0.5rem; /* Espaciado inferior */
    color: #333; /* Color del texto */
    font-weight: 500; /* Grosor del texto */
    transition: color 0.3s ease; /* Transición suave al cambiar de color */
}

.card-titleProd:hover {
    color: #0073e6; /* Color del título al pasar el mouse */
}

.text-infoProd {
    font-size: 1.4rem; /* Reducir tamaño del precio */
    margin-bottom: 0.5rem; /* Espaciado inferior */
    color: #00a650; /* Color verde para el precio */
    font-weight: bold; /* Hacer el texto en negrita */
}

.stock-labelProd {
    font-size: 0.9rem; /* Tamaño de fuente para el estado de stock */
    color: #e74c3c; /* Color rojo para el texto de "Sin stock" */
    font-weight: bold; /* Texto en negrita */
}

.cardLista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espaciado entre las tarjetas */
}

.cardLista a {
    text-decoration: none; /* Quitar el subrayado de los enlaces */
}

