.logoTienda {
    width: 12%;
}

.logoTienda img {
    width: 100%;
}

.btn-carrito img, .btn-cuenta img {
    height: 4vh; 
    vertical-align: middle; 
    margin-right: 5px;
}



.navbar-toggler-icon {
    filter: invert(1);
}

.div-registro{
    display:flex;
}

.datosUsuario img {
    width: 75%;
    margin-top: 50%;
}

/* Media query para pantallas con un ancho máximo de 768px */
@media (max-width: 768px) {
    .logoTienda {
        width: 40%;
        display: grid;
        place-items: center; /* Centra vertical y horizontalmente */
        height: 70%;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    header {
        display: grid;
        place-items: center; /* Centra vertical y horizontalmente */
        height: 75px;
    }

    #formulario-busqueda-productos-navbar, .text-to-hide, #formulario-busqueda-productos-navbar aside{
        display: none;
    }

    .navbar{
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .logotienda{
        width: 20%;
    }

    .logoTienda img {
        width: 100%;
        height: 100%;
    }

    #contenedor-botones-registro-carrito {
        width: 38%;
    }

    #formulario-busqueda-productos {
        display: none;
    }

    #formulario-busqueda-productos-navbar {
        display: flex;    
        margin-left: 5%;
        width: 85%;
    }

    .navbar-toggler {
        padding: 0%;
    }

    #formulario-busqueda-productos-header input {
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        width: 90%;
        font-size: small;
    }
    #formulario-busqueda-productos-header button {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        width: 10%;
    }

    /* Registro */
    .div-registro{
        display:block;
    }

    .div-registro #informacion-personal, .div-registro #informacion-inicio-sesion {
        width: 100%;
    }

    .div-registro #informacion-inicio-sesion {
        margin-top: 10%;
        padding-left: 0;
    }

    /* Login */

    .imgIniciarSesion{
        display: none;
    }

    .seccion-login{
        margin-right: 5%;
    }

    /* Sección Productos */
    .contenedorProductos{
        display: block;
    }
    
    .aside-desktop {
        display: none;
    }

    .aside-mobile {
        display: flex;
    }

    .dropdown-menu{
        z-index: 1;
        width: 250px;
    }

    .filtros{
        width: 46%;
        margin-right: 2%;
    }

    .categorias {
        margin-left: 3%;
        margin-right: 1%;
        width: 48%;
    }

    .dropdown-toggle{
        margin-top: 18%;
        width: 100%;
    }

    /* Mis Datos */
    .divUsuario{
        flex: 0 0 100%; 
        max-width: 100%;
    }

    .datosUsuario{
        width: 100%;
        height: 35vh;
    }
    .datosUsuario img {
        width: 45%;
    }
}