.logoTienda {
    width: 12%;
}

.logoTienda img {
    width: 100%;
}

.btn-carrito img, .btn-cuenta img {
    height: 4vh; 
    vertical-align: middle; 
    margin-right: 5px;
}

#formulario-busqueda-productos-navbar, .text-to-hide, #formulario-busqueda-productos-navbar, aside {
    display: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* Media query para pantallas con un ancho máximo de 768px */
@media (max-width: 768px) {
    .logoTienda {
        width: 40%;
        display: grid;
        place-items: center; /* Centra vertical y horizontalmente */
        height: 75%;
    }

    header {
        display: grid;
        place-items: center; /* Centra vertical y horizontalmente */
    }

    .navbar{
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .logoTienda img {
        width: 100%;
    }

    #contenedor-botones-registro-carrito {
        width: 38%;
    }

    #formulario-busqueda-productos-navbar {
        display: flex;    
        margin-left: 5%;
        width: 85%;
    }

    .navbar-toggler {
        padding: 0%;
    }

    #formulario-busqueda-productos-header input {
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        width: 90%;
        font-size: small;
    }
    #formulario-busqueda-productos-header button {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        width: 10%;
    }

}