.carga {
    position: fixed;
}

#fecha {
    width: 10%;
}

.busqueda-filtro{
    width: 100%;
    display: flex;
}

.navbar-nav .nav-item .nav-link {
    margin-left: 10px; /* Ajusta el margen izquierdo */
    margin-right: 10px; /* Ajusta el margen derecho */
}